@import '../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 1px solid $gray-3;
  flex-shrink: 0;

  &__logo {
    height: 1.875rem;
  }
}

.list {
  flex-grow: 1;
  overflow: auto;

  &__row {
    height: 3.75rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $gray-4;
    font-size: $font-size-md;
    border-bottom: 1px solid $gray-3;
    flex-shrink: 0;
    padding: 0 1rem;

    &--dark {
      background-color: $gray-base;
      color: $gray-2;
      font-size: $font-size-sm;
      text-transform: uppercase;
    }
  }
}
